[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yt-dlp = "*"
requests = "*"
pyxdg = "*"
pyyaml = "*"
colorlog = "*"
marshmallow = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
musicsync = "python3 cli.py"